.main-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.return-link {
  font-size: 12px;
  text-align: center;
  color: #4c4c4c;
}

.return-link.a {
  color: #4c4c4c;
}

.team-card {
  border-radius: 5px;
  background-color: #ffffff;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin-bottom: 200px;
}

.team-photo {
  width: 100%;
  flex: 1 auto;
  border-radius: 8px;
}

.team-info {
  padding-left: 0px;
  border-left: 0px;
  margin-top: 0px;
}

.team-card-info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.team-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 100%;
}

.lefthand-column {
  border-right: solid 2px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 10px;
  flex: 1;
}

.righthand-column {
  flex: 3;
  padding-left: 15px;
  padding-right: 25px;
}

.team-info-header {
  font-size: 14px;
  font-weight: 400;
}

.team-roster {
  padding-left: 0px;
  border-right: 0px;
}

.team-roster-footer {
  margin-top: 15px;
  margin-right: 25px;
  border-top: solid 1px rgba(0, 0, 0, 0.22);
  border-bottom: solid 1px rgba(0, 0, 0, 0.22);
}

.team-details {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}


.team-details img {
  height: 15px;
  padding-right: 5px;
}

.team-details-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

.assets-column {
  padding-top: 10px;
  color: #ff8969;
}

.product-narrative {
  /*font-family: SanFranciscoText;*/
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  color: #676767;
  flex: 3;
}

.lower-row-spacer {
  flex: 1;
}
