
body {
  background-color: #f8f8f8;
  font-family: 'Fira Sans';
}

a {
  color: #ff8969;
  text-decoration: none;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  background-color: #ffffff;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.studio-logo {
  flex: 1;
}

.buildboard-title {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #4c4c4c;
}

.sidebar-spacer {
  flex: 45;
}
.cornell-logo {
  flex: 1;
}

.side-bar-buffer {
  flex: 1;
}

.main-bar {
  flex: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #a6a6a6;
}

.page-header-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #4c4c4c;
}

.page-header-subheading {
  font-size: 14px;
  text-align: left;
  color: #4d4d4d;
  opacity: 0.5;
}

.page-header-footer {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #4c4c4c;
}

.big-row-outer {
  display: flex;
  align-items: center;
}

.big-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: initial;
  margin-top: 40px;
  width: 100%;
}

.team-logo {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.team-logo.cover {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
}

.team-info {
  display: flex;
  flex-direction: column;
  flex: 4;
  padding-left: 15px;
  position: relative
}

.team-info-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.team-info-header {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #4c4c4c;
}

.team-info-header-company {
  color: #ff8969;
}

.team-info-body {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.17;
  text-align: left;
  color: #4c4c4c;
  margin-top: 5px;
  margin-bottom: 10px;
}

.team-info-body a {
  color: #4c4c4c;
}

.team-info-footer {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #4c4c4c;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.asset {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid;
  border-color: #ff8969;
  border-radius: 9px;
  padding-left: 2px;
  padding-right: 2px;

  /* bring these links in front of the panel link */
  position: relative;
  z-index: 2;
}

.team-roster {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-top: 10px;
  border-right: solid 2px rgba(0, 0, 0, 0.1);
}

.team-roster-row {
  font-size: 12px;
  padding-top: 5px;
  font-weight: 500;
  text-align: left;
  color: #4b4b4b;
}

.team-roster-teamname {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  color: #4c4c4c;
  padding-bottom: 5px;
}

.bottom-spacer {
  min-height: 200px;
}
