<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Product Studio 2017 BuildBoard</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/669e4f4906.js"></script>

<!-- this template requires a map named 'sections' to be passed in
The structure of 'sections' as follows:
{section : [teams]} - section as 'S1', 'S2', etc.
each team in [teams]:
  - repo
  - product_narrative
  - how_might_we
  - [assets]
    each asset in [assets] contains:
      - url
      - title
  - company: data about the challenge company
    - logo (relative url)
    - name
  - team (yes, redundant naming...)
    - roster: a list of people
      each person contains:
        - name
        - email
    - picture (relative url)-->
  </head>
  <body>
    <div class="container">

    <div class="starter-template">
    <h1>Product Studio 2017 BuildBoard</h1>
    <div class="toc">
    {% set SECTIONS = [('Section 1', 'S1'),
                       ('Section 2', 'S2'),
                       ('Section 3', 'S3'),
                       ('Section 4', 'S4')] %}
    {% for s in SECTIONS %}
      <h3>{{s[0]}}</h3>
        <ol>
        {% for team in sections[s[1]] %}
          <li> <a href="#{{ team['repo'] }}"> {{ team['repo'] }}</a> <a href="https://github.com/ct-product-challenge-2017/{{team['repo']}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endfor %}
        </ol>
    {% endfor %}
    </div> <!-- ./toc -->

<hr/>

    <div class="teams-display">
      <ol>
        {% for section in sections %}
          {% set teams = sections[section] %}
            {% for team in teams %}
              {% if team is defined %}

              <h3>
              <li> <a name="{{ team['repo'] }}"><img src= {{ team['company']['logo'] }} alt={{ team['company']['name'] }} style="width:200px;"></a>
                <br>
                {{ team['how_might_we'] }} </h3>
              <p> {{ team['product_narrative'] }} </p>
              <ol>
                {% for asset in team['assets'] %}
                <li> <a href=" {{ asset.url }} "> {{ asset['title'] }} </a> </li>
                {% endfor %}
              </ol>
              <h4> {{ team['repo'] }}: </h4>
              {% if team['team'] is defined %}
                <img src= {{ team['team']['picture'] }} alt="Team Photo" style="width:304px;height:228px;">
                <br/><br/><br/>
                <div class="team">
                    <i class="fa fa-users fa-2x" aria-hidden="true"></i>: {{ team['team']['roster']|map(attribute='name')|join(' | ')}}
                    <br/>
                    <a href="mailto:{{ team['team']['roster']|map(attribute='email')|join(',')}}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    <a href="https://github.com/ct-product-challenge-2017/{{team['repo']}}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
              </div>
    <!--
                <ul>
                  {% for person in team['team']['roster'] %}
                  <li> {{ person['name'] }} ({{ person['email'] }})</li>
                  {% endfor %}
                </ul>
              -->
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
      {% endfor %}
    </ol>
  </div><!-- /.teams-display -->
  </div>

</div><!-- /.container -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
