<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Product Studio 2017 BuildBoard</title>

    <link href="site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">

    {% endblock %}
  </head>
  <body>
    <div class="top-container">
      <div class="side-bar">
        <div class="studio-logo">
          <img src="cornell/logo-placeholder.png" alt="product studio logo">
          <div class="buildboard-title"> BuildBoard </div>
        </div>
        <div class="sidebar-spacer"> </div>
        <div class="cornell-logo">
          <img src="cornell/cornell-tech-vertical.png" alt="cornell logo">
        </div>
      </div>
      <div class="side-bar-buffer"> </div>
      <div class="main-bar">
        <div class="page-header">
          <div class="page-header-subheading"> Internal </div>
          <div class="page-header-title"> Product Studio Teams </div>
          <span class="page-header-spacing"> </span>
          <div class="page-header-footer"> Topics: </div>
        </div> <!-- page-header -->
        {% for team_name in teams %}
          {% set team = teams[team_name] %}
          <div class="big-row-outer">
            <div class="big-row">
              <div class="team-logo cover" style="background-image:url({{ team['company']['logo'] }})"> </div> <!-- team-logo -->
              <div class="team-info">
                <div class="team-info-header">
                  <span class="team-info-header-company">{{ team['company']['name']}}</span> asks how might we...
                </div> <!-- team-info-header -->
                <div class="team-info-body">
                  {{ team['how_might_we'] }}
                </div> <!-- team-info-body -->
                <!-- <div class="team-info-spacer"></div> -->
                <div class="team-info-footer">
                  Artifacts: {% for asset in team['assets'] %} <span class="asset"> <a href="{{ asset.url }}"> {{ asset['title'] }} </a> </span> {% endfor %}
                </div> <!-- team-info-footer -->
              </div> <!-- team-info -->
              <div class="team-roster">
                <div class="team-roster-row">
                  <a href="https://github.com/ct-product-challenge-2017/{{ team['repo'] }}"> {{ team['repo'] }} </a>
                </div>
                {% for person in team['team']['roster']%}
                <div class="team-roster-row" class="team-member">
                  <img src="cornell/member.png" alt="team member icon"> {{ person['name'] }}
                </div>
                {% endfor %}
                <div class="team-roster-footer">
                  <a href="https://github.com/ct-product-challenge-2017/{{ team['repo'] }}"><img src="cornell/repository.png" alt="github icon"></a>
                  <a href="mailto:{{ team['team']['roster']|map(attribute='email')|join(',')}}"><img src="cornell/email.png" alt="email icon"> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                </div>
              </div> <!-- team-roster -->
            </div> <!-- big-row -->
          </div> <!-- big-row-outer -->
        {% endfor %}
        <div class="bottom-spacer"> </div>
      </div> <!-- main-bar -->
    </div> <!-- container -->
  </body>
</html>
