{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link href="static/site.css" rel="site stylesheet">
{% endblock %}

{% block content %}
  <div class="page-header">
    <div class="page-header-title"> Product Studio Teams </div>
    <div class="page-header-footer"> Topics:
      {% if tags is defined and tags is not none %}
        {% for tag in tags %}
          <span class="tag-placeholder">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div> <!-- page-header -->
  {% for team_name in teams %}
    {% set team = teams[team_name] %}
      {% if team is defined and team is not none %}
        <div class="big-row-outer">
          <div class="big-row">
            {% if semester == 'fall' %} <!-- FALL / PRODUCT STUDIO-->
              {% with prefix="" %}
                {% include "roster.html" %}
              {% endwith %}
              {% include "team_info.html" %}
              {% if team['company'] is defined %}
                <div class="team-logo cover" style="background-image:url({{ team['company']['logo'] }})"> </div> <!-- team-logo -->
              {% endif %}
            {% endif %} <!-- end FALL / PRODUCT STUDIO-->
            {% if semester == 'spring' %} <!-- SPRING / STARTUP STUDIO-->
              {% if team['company'] is defined %}
                <div class="team-logo cover" style="background-image:url({{ team['company']['logo'] }})"> </div> <!-- team-logo -->
              {% endif %}
              {% include "team_info.html" %}
              {% with prefix="" %}
                {% include "roster.html" %}
              {% endwith %}
            {% endif %} <!-- end SPRING / STARTUP STUDIO-->
          </div> <!-- big-row -->
        </div> <!-- big-row-outer -->
     {% endif %}
  {% endfor %}
  <div class="bottom-spacer"> </div>
{% endblock %}
