{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <div class="page-header-subheading"> Internal </div>
    <div class="page-header-title"> Product Studio Teams </div>
    <span class="page-header-spacing"> </span>
    <div class="page-header-footer"> Topics: </div>
  </div> <!-- page-header -->
  {% for team_name in teams %}
    {% set team = teams[team_name] %}
    <div class="big-row-outer">
      <div class="big-row">
        <div class="team-logo cover" style="background-image:url({{ team['company']['logo'] }})"> </div> <!-- team-logo -->
        <div class="team-info">
          <div class="team-info-header">
            <span class="team-info-header-company">{{ team['company']['name']}}</span> asks how might we...
          </div> <!-- team-info-header -->
          <div class="team-info-body">
            {{ team['how_might_we'] }}
          </div> <!-- team-info-body -->
          <!-- <div class="team-info-spacer"></div> -->
          <div class="team-info-footer">
            Artifacts: {% for asset in team['assets'] %} <span class="asset"> <a href="{{ asset.url }}"> {{ asset['title'] }} </a> </span> {% endfor %}
          </div> <!-- team-info-footer -->
        </div> <!-- team-info -->
        {% include "roster.html" %}
      </div> <!-- big-row -->
    </div> <!-- big-row-outer -->
  {% endfor %}
  <div class="bottom-spacer"> </div>
{% endblock %}
