{% block roster %}
<div class="team-roster">
  {% if team is defined %}
    {% if team['company'] is defined %}
      <div class="team-roster-row">
        <div class="team-roster-teamname"> Team {{ team['company']['name'] }} </div>
      </div> <!-- team-roster-row -->
    {% endif %}
    {% if team['team'] is defined %}
      {% for person in team['team']['roster']%}
      <div class="team-roster-row" class="team-member">
        <img src="{{ prefix }}{{ person['picture'] }}" alt="team icon">
        <span class="team-member-name">{{ person['name'] }} </span>
      </div> <!-- team-roster-row team-member -->
      {% endfor %}
    {% endif %}
  {% endif %}
</div> <!-- team-roster -->
{% endblock %}
