{% block roster %}
<div class="team-roster">
  {% if team is defined %}
    <div class="team-roster-row">
      <a href="{{ prefix }}team/{{ team['repo'] }}.html"> {{ team['repo'] }} </a>
    </div> <!-- team-roster-row -->
    {% if team['team'] is defined %}
      {% for person in team['team']['roster']%}
      <div class="team-roster-row" class="team-member">
        <img src="{{ prefix }}static/member.png" alt="team member icon"> {{ person['name'] }}
      </div> <!-- team-roster-row team-member -->
      {% endfor %}
    {% endif %}
  {% endif %}
</div> <!-- team-roster -->
{% endblock %}
