{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link href="../static/site.css" rel="site stylesheet">
  <link href="../static/card.css" rel="card stylesheet">
{% endblock %}

{% block product_studio_logo %}<img src="../static/logo-placeholder.png" alt="product studio logo">{% endblock %}
{% block cornell_logo %}<img src="../static/cornell-tech-vertical.png" alt="cornell logo"> {% endblock %}


{% block content %}
  <div class="return-link"> <a href="../directory.html"> Return to list </a> </div>
  <div class="team-card">
    {% if team is defined %}
      {% if team['team'] is defined %}
        <img class="team-photo" src="../{{ team['team']['picture'] }}"> <!-- team-photo -->
      {% endif %}
      <div class="team-card-info">
        <div class="team-row">
          {% include "team_info.html" %}

          {% with prefix="../" %}
            {% include "roster.html" %}
          {% endwith %}
        </div> <!-- team-row -->
        <div class="team-row">
          <div class="product-narrative"> {{ team['product_narrative'] }} </div>
          <span class="lower-row-spacer"> </span>
        </div> <!-- team-row -->
      </div> <!-- team-card-info -->
    {% endif %}
  </div> <!-- team-card -->
{% endblock %}
