{% block team_info %}
<div class="team-info">
  {% if team is defined %}
    {% block link_to_team_page %}
    <a href="team/{{ team['repo'] }}.html"><span class="team-info-link"></span></a>
    {% endblock %}
    <div class="team-info-body">
      {% block h_m_w %} {{ team['product_narrative'] }} {% endblock %}
    </div> <!-- team-info-body -->
    <!-- <div class="team-info-spacer"></div> -->
    <div class="team-info-footer">
      {% if team['tags'] is defined %}
        {% for tag in team['tags'] %}
          <span class="tag-placeholder">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </div> <!-- team-info-footer -->
  {% endif %}
</div> <!-- team-info -->
{% endblock %}
