{% block team_info %}
<div class="team-info">
  {% if team is defined %}
    <a href="team/{{ team['repo'] }}.html"><span class="team-info-link"></span></a>
    <div class="team-info-body">
      {% block h_m_w %} {{ team['product_narrative'] }} {% endblock %}
    </div> <!-- team-info-body -->
    <!-- <div class="team-info-spacer"></div> -->
    <div class="team-info-footer">
      {% if team['assets'] is defined %}
        Artifacts: {% for asset in team['assets'] %} <span class="asset"> <a href="{{ asset['url'] }}"> {{ asset['title'] }} </a> </span> {% endfor %}
      {% endif %}
    </div> <!-- team-info-footer -->
  {% endif %}
</div> <!-- team-info -->
{% endblock %}
